body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2400' height='2000' preserveAspectRatio='none' viewBox='0 0 2400 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1049%26quot%3b)' fill='none'%3e%3crect width='2400' height='2000' x='0' y='0' fill='rgba(94%2c 57%2c 195%2c 0.06)'%3e%3c/rect%3e%3cpath d='M1520.9446824692382 1471.1008389093695L1633.421654027481 1764.1133675456233 1926.4341826637346 1651.6363959873804 1813.957211105492 1358.6238673511266z' fill='rgba(28%2c 107%2c 142%2c 0.44)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M435.79 1801.27 a654.29 654.29 0 1 0 1308.58 0 a654.29 654.29 0 1 0 -1308.58 0z' fill='rgba(28%2c 107%2c 142%2c 0.44)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M2729.7475612936564 1763.0211990268208L2681.0321770391724 1366.2662332864038 2110.257420555789 1637.7167925383385z' fill='rgba(28%2c 107%2c 142%2c 0.44)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1453.42 549.92 a397.37 397.37 0 1 0 794.74 0 a397.37 397.37 0 1 0 -794.74 0z' fill='rgba(28%2c 107%2c 142%2c 0.44)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1724.844368453047 1158.6320962324453L1444.8723482699222 947.6580465079903 1233.8982985454672 1227.6300666911152 1513.870318728592 1438.6041164155702z' fill='rgba(28%2c 107%2c 142%2c 0.44)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1771.8 190.74 a556.96 556.96 0 1 0 1113.92 0 a556.96 556.96 0 1 0 -1113.92 0z' fill='rgba(28%2c 107%2c 142%2c 0.44)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1265.91 703.05 a385.94 385.94 0 1 0 771.88 0 a385.94 385.94 0 1 0 -771.88 0z' fill='rgba(28%2c 107%2c 142%2c 0.44)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1771.7843337586114 1319.809818757584L1871.436359103499 921.7438976505155 1524.9488048563999 1014.5849579984606z' fill='rgba(28%2c 107%2c 142%2c 0.44)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M822.548%2c789.794C960.235%2c798.075%2c1099.983%2c748.812%2c1175.551%2c633.418C1258.461%2c506.814%2c1284.421%2c337.445%2c1201.822%2c210.638C1124.302%2c91.628%2c964.355%2c83.499%2c822.548%2c91.481C697.825%2c98.502%2c572.425%2c140.961%2c510.66%2c249.543C449.478%2c357.102%2c474.288%2c487.795%2c536.155%2c594.961C598.027%2c702.135%2c699.02%2c782.364%2c822.548%2c789.794' fill='rgba(28%2c 107%2c 142%2c 0.44)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M488.79 351.89 a465.38 465.38 0 1 0 930.76 0 a465.38 465.38 0 1 0 -930.76 0z' fill='rgba(28%2c 107%2c 142%2c 0.44)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1372.918954908429 84.80624067664041L1296.6828671045944 334.1632480927998 1708.8364221307509 323.83887609047207z' fill='rgba(28%2c 107%2c 142%2c 0.44)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1675.1 1902.86 a618.62 618.62 0 1 0 1237.24 0 a618.62 618.62 0 1 0 -1237.24 0z' fill='rgba(28%2c 107%2c 142%2c 0.44)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M2192.0620721692703 1198.0834174829843L1873.5829671209672 804.7944762430071 1480.2940258809901 1123.2735812913102 1798.773130929293 1516.5625225312874z' fill='rgba(28%2c 107%2c 142%2c 0.44)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1049'%3e%3crect width='2400' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

#main {
    width: 100%;
 }

.pawns {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    border: 3px solid black;
}

#board {
    background: url(../js/Images/board.gif) no-repeat;
    background-size: cover;
    width: 670px;
    height: 550px;
    border-radius: 40px;
}

#player {
    font-size: 32px;
}

#uselesstext1,
#player,
#uselesstext,
#badtext {
    position: relative;
    text-align: center;
    margin: 2% 0 0 0;
}

#dice {
    background-repeat: no-repeat;
    background-image: url(../js/Images/dice1.gif);
    background-size: contain;
    width: 100px;
    height: 100px;
    float: right;
    flex: auto;
    position: relative;
    margin-top: 20px;
    right: 56%;
}

.border-box {
    background-color: rgba(255, 255, 255, 0.856);
    height: 73.3vh;
    border-radius: 40px;
}

.text-formatting {
    text-align: center;
}
