@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/css/style.css")" />
}
<menu id="controls"><button id="dice_btn">Roll dice</button></menu>
<div id="container">
    <canvas id="ludoBoard"></canvas>
</div>

@section script_main {
    <script src="@Url.Content("~/js/main.js")"></script>
}
@section script_dice {
    <script src="@Url.Content("~/js/dice.js")"></script>
}
