@page
@model LudoGameV2.Pages.LudoModel
@{
    ViewData["Title"] = "Ludo Game";
}

<h3>Ludo Game</h3>
<form method="post">
    <select name="RequestMethod" class="form-control">
        <option value="GET">New Game</option>
        <option value="POST">Save Game</option>
    </select>

    <div>
        <textarea asp-for="Data" class="form-control"></textarea>
    </div>


    <div>
        <input type="submit" value="Submit" />
    </div>
</form>