@page
@model LudoGameV2.Pages.Ludo.NewModel
@{
    ViewData["Title"] = "New Game";
}
<h4>Create new game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="NewPlayer.PlayerName" class="control-label"></label>*@
                <input asp-for="NewPlayer.SessionId" class="form-control" placeholder="Session Id" />
                <input asp-for="NewPlayer.PlayerName" class="form-control" placeholder="Player Name" />
                <input type="radio" id="red" asp-for="NewPlayer.Color" value="Red">
                <label name="red" for="red" style="color:red">Red</label><br>
                <input type="radio" id="green" value="Green" asp-for="NewPlayer.Color">
                <label name="green" for="green" style="color:green">Green</label><br>
                <input type="radio" id="blue" value="Blue" asp-for="NewPlayer.Color">
                <label name="blue" for="blue" style="color:blue">Blue</label><br>
                <input type="radio" id="yellow" value="Yellow" asp-for="NewPlayer.Color">
                <label name="yellow" for="yellow" style="color:yellow">Yellow</label><br>
                <span asp-validation-for="NewPlayer.PlayerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<h4>@Model.GameBoardMessage</h4>